Xft.dpi: 110
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


URxvt.perl-ext-common: default,matcher,selection-to-clipboard
/* URxvt.tabbed.autohide: true */

URxvt*.termName: rxvt-unicode-256color
! Pretty font
URxvt.font: xft:Hack\ Nerd\ Font:size=13,\
            xft:Inconsolata\ Nerd\ Font:size=13,\
            xft:Inconsolata Nerd Font Mono:size=15,\
            xft:DejaVu Sans:size=12,\
            xft:Font Awesome 5 Free:size=7,\
            xft:Font Awesome 5 Free Solid:size=7,\
            xft:Font Awesome 5 Brands:size=7
! trying: https://github.com/ryanoasis/nerd-fonts/issues/150#issuecomment-333877730
! hope to fix missing powerline fonts
URxvt*letterSpace: 1

! No scrollbar
URxvt.scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false
!
! ! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
!
! ! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Link handling
URxvt.matcher.button: 1
URxvt.url-launcher: google-chrome-beta

! Remove if not using tmux
URxvt.saveLines: 0

URxvt*skipBuiltinGlyphs:    true

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
/* *.background:   nord0 */
*.background: #1E1E1E
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! special
!*.foreground:   #c5c8c6
!*.background:   #1d1f21
!*.cursorColor:  #c5c8c6
!*.highlightColor:#3A3F4B

! black
!*.color0:       #1d1f21
!*.color8:       #969896

! red
!*.color1:       #cc6666
!*.color9:       #cc6666

! green
!*.color2:       #b5bd68
!*.color10:      #b5bd68

! yellow
!*.color3:       #f0c674
!*.color11:      #f0c674

! blue
!*.color4:       #81a2be
!*.color12:      #81a2be

! magenta
!*.color5:       #b294bb
!*.color13:      #b294bb

! cyan
!*.color6:       #8abeb7
!*.color14:      #8abeb7

! white
!*.color7:       #c5c8c6
!*.color15:      #ffffff
